.tableHomeContainer {
    width: 75%;
    text-align: left;
    margin: 0 auto;
    padding: 30px;
}
.fromSubTitle {
    font-size: 20px;
}
.addButton {
    padding: 4px 15px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
}

.addButton:active {
    border: 1px solid #008cff;
    background-color: #008cff;
    color: #fff;
    transform: translateY(2px);
}

.emptyBox {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.emptyBox p {
    font-size: 26px;
}
.styledTable {
    border-collapse: collapse;
    margin: 25px 0px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styledTable thead tr {
    background-color: #008cff;
    color: #ffffff;
    text-align: left;
}

.styledTable th,
.styledTable td {
    padding: 12px 15px;
    width: 90px;
}
.styledTable th:first-child,
.styledTable td:first-child {
    width: 90px;
}

.styledTable th:nth-child(2),
.styledTable td:nth-child(2) {
    width: 190px;
}

.styledTable th:nth-child(3),
.styledTable td:nth-child(3) {
    width: 250px;
}

.styledTable tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: left;
}

.styledTable tbody tr:last-of-type {
    border-bottom: 2px solid #008cff;
}

@media only screen and (max-width: 600px) {
    .tableHomeContainer {
        width: 80%;
    }
}

@media only screen and (max-width: 472px) {
    .tableHomeContainer {
        width: 95%;
    }
    .emptyBox p {
        font-size: 20px;
    }
}
